HTML, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
  font-family: PingFangSC, PingFang SC;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 400;
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
}
img {
  display: block;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
html, body, #app {
  height: 100%;
  font-size: 14px;
}
.el-popover { min-width: 80px !important; }
.clear__float::after {
  content: '';
  display: table;
  clear: both;
}

.el-popconfirm__main {
  margin-bottom: 12px;
}


#timeout {
  color: #999;
  line-height: 300px;
  text-align: center;
  font-family: PingFangSC, PingFang SC;
}
#loading {
  height: 100%;
  color: #999;
  font-size: 40px;
  line-height: 300px;
  text-align: center;
}