html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
  color: inherit;
	font-size: inherit;
	font-weight: 400;
	box-sizing: border-box;
}
body {
  color: #333;
}
@font-face {
	font-family: 'webfont';
	font-display: swap;
	src: url('//at.alicdn.com/t/webfont_novqle83nik.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/webfont_novqle83nik.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('https://pingtai-prd.oss-cn-shenzhen.aliyuncs.com/frontend-static/NotoSansHans-Regular.woff2') format('woff2'),
	url('https://pingtai-prd.oss-cn-shenzhen.aliyuncs.com/frontend-static/NotoSansHans-Regular.woff2') format('woff'), /* chrome、firefox */
	url('//at.alicdn.com/t/webfont_novqle83nik.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/webfont_novqle83nik.svg#AlibabaPuHuiTiL') format('svg'); /* iOS 4.1- */
}
ul, ol {
  list-style: none;
}
img {
  display: inline-block;
  vertical-align: middle;
	position: static;
	float: none;
}
i {
  font-style: normal;
}
a {
  text-decoration: none;
}
html, body, #app {
	font-family: "webfont", -apple-system, BlinkMacSystemFont, Roboto, "PingFang SC", "Hiragino Sans GB", 'Source Han Sans SC', "NotoSansHans", SimSun, sans-serif;
	height: 100%;
  font-size: 14px;
	overflow: hidden;
}
.el-popover { min-width: 80px !important; }
.clear__float::after {
  content: '';
  display: table;
  clear: both;
}

.el-popconfirm__main {
  margin-bottom: 12px;
}

.el-pagination {
  text-align: right;
}
.el-cascader {
  width: 100%;
}

#timeout {
  color: #999;
  line-height: 300px;
  text-align: center;
  font-family: PingFangSC, PingFang SC;
}
#loading {
  height: 100%;
  color: #999;
  font-size: 40px;
  line-height: 300px;
  text-align: center;
}
// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
	transition: all .5s;
}

.fade-transform-enter {
	opacity: 0;
	transform: translateX(-30px);
}

.fade-transform-leave-to {
	opacity: 0;
	transform: translateX(30px);
}
